{% extends "base.html" %}
{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">
        <table class="table table-striped" style="max-width: 20vh;">
            <tr>
                <th>Номер записи</th>
                <th>Район</th>
                <th colspan="2"><a href="/neighborhood_add" class="btn btn-primary mb-3">Добавить</a></th>
            </tr>
            {% for item in neighborhoods_list %}
                <tr>
                    {% if item['id'] != None %}
                        <td>{{ item['id'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    {% if item['name'] != None %}
                        <td>{{ item['name'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    <td><a href="{{ url_for('.delete_neighborhood',neighborhood_id=item['id']) }}"><span class="material-symbols-outlined">
delete
</span></a></td>
                    <td><a href="{{ (url_for('.edit_neighborhood',neighborhood_id=item['id'])) }}"><span class="material-symbols-outlined">
edit
</span></a></td>
                </tr>
            {% endfor %}


        </table>
    </div>
{% endblock %}