{% extends "base.html" %}
{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">
        <table class="table table-striped" style="max-width: 800px;">
            <tr>
                <th>Номер отзыва</th>
                <th style="width: 200px">Дата отзыва</th>
                <th>Имя автора</th>
                <th>Описание</th>
                <th>Ссылка</th>
                <th>Оценка</th>
                <th></th>
            </tr>
            {% for item in reviews_list %}
                <tr>
                    {% if item['id'] != None %}
                        <td>{{ item['id'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    {% if item['date'] != None %}
                        <td style="width: 200px;">{{ item['date'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    {% if item['author_name'] != None %}
                        <td>{{ item['author_name'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    {% if item['description'] != None %}
                        <td>{{ item['description'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    {% if item['url'] != None %}
                        <td>{{ item['url'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    {% if item['grade'] != None %}
                        <td>{{ item['grade'] }}</td>
                    {% else %}
                        <td>Отсутствует</td>
                    {% endif %}
                    <td><a href="{{ url_for('.delete_user',user_id=item['id']) }}"><span
                            class="material-symbols-outlined">
delete
</span></a></td>

                </tr>
            {% endfor %}


        </table>
    </div>
{% endblock %}